.name {
    font-family: Arial;
    color: rgb(255, 255, 255);
    font-size: 15px;
}

.textbox {
    background-color: white;
    border: none;
    border-radius: 50px;
    padding-inline-end: 10px;
    padding-inline-start: 50px;
    padding: 7px 20px;
}

.option {
    background-color: white;
    border: none;
    border-radius: 50px;
    padding-inline-end: 10px;
    padding-inline-start: 50px;
    padding: 7px 20px;
}

.button {
    background-color: rgb(83, 212, 67);
    border: none;
    border-radius: 10px;
    color: white;
    padding: 8px 33px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.Signup {
    background-color: rgb(83, 212, 67);
    color: white;
}

.Signup:hover {
    background-color: black;
    color: rgb(83, 212, 67);
}

.alignment {
    padding: 10px;
    padding-left: 150px;
    background-color: transparent;
    width: 600px;
    margin: auto;
}